$small : 1em;
$standard : 2em;
$large : 4em;
$primary-color: white;
$secondary-color: rgba(182, 243, 201, 0.5);
$error: rgba(255, 0, 0, 0.5);
$background-color: linear-gradient(35deg,#A4DCD0,#5A7EED);
